@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}

#backgroundDiv{
  background-image: url("./img/phoneback.jpg");
}

#noProds{
  background-image: url("./img/givemoney.jpg");
}

#purchased{
  background-image: url("./img/purchased.jpg");
}

.navbarPersistent{
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: 1000;
}

.content-center-colum{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.content-center-colum-start{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content:flex-start;
  align-items: center;
  align-content: center;
}